{% extends 'overall/layout' %}
{% block appBody %}
    <div class="box-ocrend">
        <h1>Registro con éxito</h1>
        <p>¡La cuenta electrónica asociada a este usuario fue activada satisfactoriamente!</p>
    </div>
{% endblock %}
