<!DOCTYPE html>
<html lang="es">

<head>
    {# Formato #} {{ base_assets()|raw }}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> {# Estilo definido por defecto para presentar el framework #} {# No es necesaria la existencia de este archivo, puede ser borrado #}
    <link rel="stylesheet" href="assets/framework/main.min.css" /> {% block appHeader %} {% endblock %}
    <title>{{ config.build.name }}</title>
</head>

<body>
    {% block appBody %} {% endblock %} {# Sólamente necesario para facilitar las peticiones AJAX del generador, puede eliminarse #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    {% block appFooter %} {% endblock %}
    <script type="text/javascript">
    function f() {

        $.ajax({
            type: 'GET', // POST o GET
            url: 'api/pacientes',
            data: {
                'user': 'sdsd'
            },
            success: function(json) {
                console.log(json);
            },
            error: function(xhr, status) {
                console.log('Ha ocurrido un problema interno');
            }
        });

    }

    f()
    </script>
</body>

</html>